* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--transition: 1.5s cubic-bezier(.05, .5, 0, 1);
}
@font-face {
	font-family: kingslay;
	src: url(../fonts/kingslay.woff2);
	font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
	font-family: merriweather-italic-3d;
	src: url(../fonts/Game\ Of\ Squids.woff2);
}
body {
	background-color: #000;
	color: white;
	font-family: kingslay;
	font-weight: 900;
}
/*
.logo {
	background-image: var(--logo-image);
    background-size: contain; 
    --logo-size: calc(var(--index) * 7.8);
	width: var(--logo-size);
	height: var(--logo-size);
	background-repeat: no-repeat;
	position: absolute;
	left: calc(51% - calc(var(--logo-size) / 2));
	top: calc(var(--index) * 2.8);
	z-index: 1;
}
*/

.layers {
	perspective: 1000px;
	overflow: hidden;
}
.layers__container {
	height: 100vh;
	min-height: 500px;
	transform-style: preserve-3d;
	transform: rotateX(var(--move-y)) rotateY(var(--move-x));
	will-change: transform;
	transition: transform var(--transition);
}
.layers__item {
	position: absolute;
	inset: -5vw;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.layer-1 {
	transform: translateZ(-55px) scale(1.06);
}
.layer-2 {
	transform: translateZ(80px) scale(.88);
}
.layer-3 {
	transform: translateZ(180px) scale(.8);
}
.layer-4 {
	transform: translateZ(190px) scale(.9);
}
.layer-5 {
	transform: translateZ(300px) scale(.9);
}
.layer-6 {
	transform: translateZ(380px);
}
.hero-content {
	font-size: calc(var(--index) * 2.9);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: calc(var(--index) * -.15);
	line-height: 1.35em;
	margin-top: calc(var(--index) * 5.5);
}
.hero-content span {
	display: block;
}
.hero-content__p {
	text-transform: none;
	font-family: merriweather-italic-3d;
	letter-spacing: normal;
	font-size: calc(var(--index) * .73);
	line-height: 3;
}
.button-start {
    font-family: merriweather-italic-3d;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * .71);
    letter-spacing: -.02vw;
    padding: calc(var(--index) * .7) calc(var(--index) * 1.25);
    background-color: rgb(49, 49, 49);
    color: #fff;
    border-radius: 10em;
    border: rgba(255, 255, 255, 0.4) 3px solid;
    outline: none;
    cursor: pointer;
    margin-top: calc(var(--index) * 2.5);
    transition: 0.3s ease-in-out;
    position: relative; 
}

.button-start::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale3d(1.02, 1.06, 1.06);
    border-radius: 10em;
    background: linear-gradient(to right, hwb(315 0% 0%), hwb(323 7% 36%));
    z-index: -1;
    transition: 0.3s;
}

.button-start:hover {
    background: transparent;
    box-shadow: 
        -2px 2px 6px 2px hwb(316 2% 35%),
        -2px 2px 6px 2px hwb(313 0% 73%);
}


.layer-4, .layer-5, .layer-6 {
	pointer-events: none;
}
